## Import librarys

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('real_estate_price_size_year.csv', delimiter='\t')

In [3]:
data

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
..         ...      ...   ...
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

In [4]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [5]:
y = data['price']
x1 = data[['size', 'year']]

In [6]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()

In [7]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.776
Model:                            OLS   Adj. R-squared:                  0.772
Method:                 Least Squares   F-statistic:                     168.5
Date:                Sat, 10 Jun 2023   Prob (F-statistic):           2.77e-32
Time:                        08:20:50   Log-Likelihood:                -1191.7
No. Observations:                 100   AIC:                             2389.
Df Residuals:                      97   BIC:                             2397.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.772e+06   1.58e+06     -3.647      0.000   -8.91e+06   -2.63e+06
size         227.7009     12.474     18.254      0.000     202.943     252.458
year        2916.7853    785.896      3.711      0.000    1357.000    4476.571
==============================================================================
Omnibus:                       10.083   Durbin-Watson:                   2.250
Prob(Omnibus):                  0.006   Jarque-Bera (JB):                3.678
Skew:                           0.095   Prob(JB):                        0.159
Kurtosis:                       2.080   Cond. No.                     9.41e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.41e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Creating multiple linear regression

## Declaring depandent and indepandent varibles

In [8]:
y = data['price']
x = data[['size', 'year']]

## Regresion itself

In [9]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()

In [10]:
reg.coef_

array([ 227.70085401, 2916.78532684])

In [11]:
reg.intercept_

-5772267.017463277

# Calculate R^2

In [12]:
reg.score(x,y)

0.7764803683276792

## Formula for R^2

In [13]:
x.shape

(100, 2)

In [14]:
r2 = reg.score(x, y)

n = x.shape[0]

p = x.shape[1]
adj_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
adj_r2

0.7718717161282499

In [15]:
x_new = np.array([750, 2009]).reshape(-1,1)
y_pred = reg.predict(x)
y_pred

array([251487.55831903, 236976.55857113, 224762.12124518, 447688.27618312,
       377978.03540671, 209775.60239039, 235047.55665969, 220165.59235875,
       269156.95675102, 245697.50127961, 328999.58170971, 507095.80467165,
       263198.21324064, 343612.85900293, 375034.05120339, 392967.77046502,
       271042.3198222 , 220876.01902325, 233884.5688127 , 347827.60181061,
       246391.61320635, 230220.29855474, 379992.81228669, 223090.98481576,
       207282.09020001, 365028.12432233, 243797.91264021, 408831.12544674,
       260135.63675424, 445777.86601799, 308857.3520032 , 233884.5688127 ,
       223697.04476541, 224782.80216104, 309068.36244145, 255656.57311692,
       266249.96820132, 208650.76017159, 269890.15350093, 264056.64546025,
       337754.30386831, 269156.95675102, 275000.32418183, 391330.41348571,
       355250.64965125, 264056.64546025, 231732.60790333, 237805.57751871,
       249233.31986436, 245558.22808068, 252491.71908521, 337754.30386831,
       320253.59190728, 244543.24578879, 252491.71908521, 457369.92865652,
       348806.71548284, 397389.15753287, 267304.22315537, 234655.9111908 ,
       302378.51135071, 264104.46263959, 379576.11972386, 320253.59190728,
       261139.79752041, 293384.51545641, 308611.43508087, 230245.34564868,
       269890.15350093, 419526.79807645, 320253.59190728, 225309.35465077,
       254477.27053215, 230245.34564868, 269890.15350093, 269890.15350093,
       383280.62477957, 382580.0575052 , 242905.88880948, 349454.13726419,
       233884.5688127 , 360613.19260212, 233884.5688127 , 260237.91429955,
       269890.15350093, 343612.85900293, 188043.83288391, 321724.53942417,
       250804.26791802, 395455.78944335, 271948.56922115, 349048.26622708,
       263198.21324064, 272807.00144076, 237805.57751871, 212744.63368765,
       323780.67813586, 421437.20824157, 252671.60275987, 239399.48349676])

In [16]:
input_features = [750, 2009]  # Replace with actual input features
result = [251487.55831903, 236976.55857113, 224762.12124518, ...]  # Replace with actual predicted prices

predictions = [(input_features[i], result[i]) for i in range(len(input_features))]

In [17]:
predictions

[(750, 251487.55831903), (2009, 236976.55857113)]

# Feature Selection

In [18]:
from sklearn.feature_selection import f_regression

In [20]:
f_regression(x,y)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:67: FutureWarning: Pass interaction_only=0     234314.144
1     228581.528
2     281626.336
3     401255.608
4     458674.256
         ...
95    252460.400
96    310522.592
97    383635.568
98    225145.248
99    274922.856
Name: price, Length: 100, dtype: float64 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

PolynomialFeatures(degree=       size  year
0    643.09  2015
1    656.22  2009
2    487.29  2018
3   1504.75  2015
4   1275.46  2009
..      ...   ...
95   549.80  2009
96  1037.44  2009
97  1504.75  2006
98   648.29  2015
99   705.29  2006

[100 rows x 2 columns],
                   interaction_only=0     234314.144
1     228581.528
2     281626.336
3     401255.608
4     458674.256
         ...
95    252460.400
96    310522.592
97    383635.568
98    225145.248
99    274922.856
Name: price, Length: 100, dtype: float64)

In [21]:
p_values = f_regression(x,y)[-1]
p_values

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:67: FutureWarning: Pass interaction_only=0     234314.144
1     228581.528
2     281626.336
3     401255.608
4     458674.256
         ...
95    252460.400
96    310522.592
97    383635.568
98    225145.248
99    274922.856
Name: price, Length: 100, dtype: float64 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

TypeError: 'PolynomialFeatures' object is not subscriptable

In [ ]:
p_values.round(3)

# Create summay

In [ ]:
reg_summmary = pd.DataFrame(data = x.columns.values, columns=['Features'])
reg_summmary

In [ ]:
reg_summmary ['Coefficient'] = reg.coef_
reg_summmary ['pvalues'] = p_values.round(3)

In [ ]:
reg_summmary

In [ ]:


# Plot the data points
plt.scatter(data['size'], data['price'], color='blue', label='Data')

# Sort the 'size' values in ascending order
sorted_indices = data['size'].argsort()
sorted_size = data['size'][sorted_indices]

# Make predictions for the sorted 'size' values using the linear regression model
sorted_predictions = reg.predict(data[['size', 'year']])[sorted_indices]

# Plot the regression line
plt.plot(sorted_size, sorted_predictions, color='red', linewidth=2, label='Linear Regression')

# Add labels and a legend
plt.xlabel('Size')
plt.ylabel('Price')
plt.legend()

# Show the plot
plt.show()