In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('real_estate_price_size.csv', delimiter='\t')
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [3]:
x = data['size']
y = data['price']

In [4]:
data.describe()

               price         size
count     100.000000   100.000000
mean   292289.470160   853.024200
std     77051.727525   297.941951
min    154282.128000   479.750000
25%    234280.148000   643.330000
50%    280590.716000   696.405000
75%    335723.696000  1029.322500
max    500681.128000  1842.510000

In [5]:
x.shape

(100,)

In [6]:
y.shape

(100,)

In [7]:
x_matrix = x.values.reshape(-1,1)
x_matrix.shape

(100, 1)

In [8]:
reg = LinearRegression()

In [9]:
reg.fit(x_matrix, y)

LinearRegression()

In [10]:
## R-squared

In [11]:
reg.score(x_matrix,y)

0.7447391865847586

In [12]:
## Intercept

In [13]:
reg.intercept_

101912.60180122912

In [14]:
## coefficient

In [15]:
reg.coef_

array([223.17874259])

In [16]:
## Making predicitons

In [17]:
x_new = np.array([750]).reshape(-1,1)
y_pred = reg.predict(x_new)
y_pred

array([269296.65874718])